* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}
* a:focus {
  outline: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #525254;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

.catalog {
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 50px;
}
.catalog .container {
  /*padding-left: 55px;*/
  /*padding-right: 55px; */
  width: 1170px;
}
.catalog h2 {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  width: 100%;
  margin-bottom: 65px;
}
.catalog-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.catalog-item {
  background-color: #fff;
  width: 49.5%;
  padding: 10px 30px;
  padding-bottom: 20px;
  margin-right: 1%;
  margin-bottom: 1%;
}
.catalog-item.item2 {
  margin-right: 0%;
}
.catalog-item:nth-child(3n) {
  margin-right: 1%;
}
.catalog-item .image {
  position: relative;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item .image {
  position: relative;
}
.catalog-item > .image > img,
.catalog-item > .image > a > img {
  max-width: 100%;
}
.catalog-item .image .prim {
  position: absolute;
  top: 19px;
  left: 0px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.3);
  color: #ffffff;
  border: 1px solid rgba(25, 25, 25, 0.3);
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.88px;
  padding: 7px 10px;
}
.catalog-item .text {
  margin-top: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item .text h3 a {
  margin-left: 10px;
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 19px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: inline-block;
  border-bottom: 2px rgba(9, 9, 9, 0.05) solid;
}
.catalog-item .text .price-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog-item .text .price {
  margin-top: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}
.catalog-item .text .price .price-text {
  margin-left: 12px;
}
.catalog-item .text .price .main-price {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 24px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: -15px;
}
.catalog-item .text .price .main-price span {
  opacity: 0.5;
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.catalog-item .text .price .old-price {
  color: rgba(25, 25, 25, 0.2);
  font-family: DinPro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
  display: inline-block;
  top: -9px;
}
.catalog-item .text .price .old-price:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #191919;
  height: 1px;
}
.catalog-item .text .gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  position: relative;
  top: 5px;
}
.catalog-item .text .gift:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -18px;
  width: 1px;
  height: 33px;
  background-color: #090909;
  opacity: 0.07;
}
.catalog-item .text .gift .list {
  margin-left: 18px;
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
  position: relative;
}
.catalog-item .text .gift .list ul {
  list-style-type: none;
}
.catalog-item .text .gift .list ul li {
  position: relative;
}
.catalog-item .text .gift .list ul li:before {
  content: "";
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #090909;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -10px;
}
.catalog-item .text .right {
  margin-left: 27px;
}
.catalog-item .text .right .buy {
  display: block;
  width: 150px;
  height: 49px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #fdc61e;
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 15px;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.catalog-item .text .right .buy:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: shadow 0.6s infinite linear;
  animation: shadow 0.6s infinite linear;
}
.tomodel,
.catalog-item .text .right .char {
  display: block;
  width: 150px;
  height: 49px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(25, 25, 25, 0.3);
  font-family: DinPro, sans-serif;
  font-size: 15px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.catalog-item .text .right .char:hover {
  background-color: #fdc61e;
  border: 1px #fdc61e solid;
  color: #191919;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: shadow 0.6s infinite linear;
  animation: shadow 0.6s infinite linear;
}

.outofstock {
  background-color: darkgray !important;
}

/* .catalog-item {
    background-color: #fff;
    width: 49.2%;
    padding: 10px 10px;
    padding-bottom: 20px;
    margin-right: 1.6%;
    margin-bottom: 1.6%; }
    .catalog-item .image {
      position: relative; }
      .catalog-item .image .prim {
        position: absolute;
        top: 19px;
        left: 16px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid rgba(255, 254, 254, 0.3);
        color: #ffffff;
        font-family: DinPro, sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.88px;
        padding: 7px 10px; }
    .catalog-item .text {
      margin-top: 23px; }
      .catalog-item .text h3 a {
        margin-left: 10px;
        color: #191919;
        font-family: DinPro, sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        display: inline-block;
        border-bottom: 2px rgba(9, 9, 9, 0.05) solid; }
      .catalog-item .text .price-gift {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .catalog-item .text .price {
        margin-top: 22px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 12px; }
        .catalog-item .text .price .price-text {
          margin-left: 12px; }
        .catalog-item .text .price .main-price {
          color: #191919;
          font-family: DinPro, sans-serif;
          font-size: 24px;
          line-height: 46px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          margin-top: -15px; }
          .catalog-item .text .price .main-price span {
            opacity: 0.5;
            color: #191919;
            font-family: DinPro, sans-serif;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.7px; }
        .catalog-item .text .price .old-price {
          color: rgba(25, 25, 25, 0.2);
          font-family: DinPro, sans-serif;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          position: relative;
          display: inline-block;
          top: -9px; }
          .catalog-item .text .price .old-price:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: #191919;
            height: 1px; }
      .catalog-item .text .gift {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 30px;
        position: relative;
        top: 5px; }
        .catalog-item .text .gift:before {
          content: '';
          position: absolute;
          top: 4px;
          left: -18px;
          width: 1px;
          height: 33px;
          background-color: #090909;
          opacity: 0.07; }
        .catalog-item .text .gift .list {
          margin-left: 18px;
          color: #191919;
          font-family: CirceLight, sans-serif;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.65px;
          position: relative; }
          .catalog-item .text .gift .list ul {
            list-style-type: none; }
            .catalog-item .text .gift .list ul li {
              position: relative; }
              .catalog-item .text .gift .list ul li:before {
                content: '';
                width: 4px;
                height: 4px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                background-color: #090909;
                opacity: 0.2;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: -10px; }
      .catalog-item .text .right {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 10px;
        margin-top: 25px; }
        .catalog-item .text .right .buy {
          display: block;
          width: 150px;
          height: 49px;
          -webkit-border-radius: 25px;
          border-radius: 25px;
          background-color: #04fbd1;
          color: #191919;
          font-family: DinPro, sans-serif;
          font-size: 15px;
          line-height: 52px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          text-align: center;
          -webkit-transition: all .2s;
          transition: all .2s; }
          .catalog-item .text .right .buy:hover {
            -webkit-transition: all .2s;
            transition: all .2s;
            -webkit-animation: shadow .6s infinite linear;
            animation: shadow .6s infinite linear; }
        .catalog-item .text .right .char {
          margin-left: 17px;
          display: block;
          width: 150px;
          height: 49px;
          -webkit-border-radius: 25px;
          border-radius: 25px;
          border: 1px solid rgba(0, 0, 0, 0.4);
          text-align: center;
          color: rgba(25, 25, 25, 0.3);
          font-family: DinPro, sans-serif;
          font-size: 15px;
          line-height: 46px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          -webkit-transition: all .2s;
          transition: all .2s; }
          .catalog-item .text .right .char:hover {
            background-color: #04fbd1;
            border: 1px #04fbd1 solid;
            color: #191919;
            -webkit-transition: all .2s;
            transition: all .2s;
            -webkit-animation: shadow .6s infinite linear;
            animation: shadow .6s infinite linear; }
  /*.catalog .item-2 {
    margin-right: 0; }
    .catalog .item-2 .image .prim {
      border: 1px solid #191919;
      color: #191919; }*/

.catalog .item-2 {
  width: 27.3%;
}
.catalog .item-2 .image .prim {
  border: 1px solid rgba(25, 25, 25, 0.3);
  color: #191919;
}
.catalog .item-2 .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog .item-2 .text .price .main-price {
  font-size: 20px;
}
.catalog .item-2 .text .gift {
  margin-left: 26px;
}
.catalog .item-2 .text .gift:before {
  left: -15px;
}
.catalog .item-2 .text .right {
  margin-left: 0;
  margin-top: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog .item-2 .text .right .buy {
  display: inline-block;
  width: 133px;
  height: 43px;
  line-height: 45px;
  font-size: 13px;
}
.catalog .item-2 .text .right .char {
  display: inline-block;
  margin-top: 0;
  width: 133px;
  height: 43px;
  font-size: 13px;
  line-height: 45px;
}
.catalog .item-3 {
  width: 27.3%;
}
.catalog .item-3 .image .prim {
  /*border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;*/
}
.catalog .item-3 .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog .item-3 .text .price .main-price {
  font-size: 20px;
}
.catalog .item-3 .text .gift {
  margin-left: 26px;
}
.catalog .item-3 .text .gift:before {
  left: -15px;
}
.catalog .item-3 .text .right {
  margin-left: 0;
  margin-top: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog .item-3 .text .right .buy {
  display: inline-block;
  width: 133px;
  height: 43px;
  line-height: 45px;
  font-size: 13px;
}
.catalog .item-3 .text .right .char {
  display: inline-block;
  margin-top: 0;
  width: 133px;
  height: 43px;
  font-size: 13px;
  line-height: 45px;
}

.catalog .item-6 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  width: 100%;
  margin-right: 0;
}
.catalog .item-6 .accordions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog .item-6 .accordions .accordion {
  width: 47.9%;
}
.catalog .item-6 h3 {
  color: #191919;
  margin-left: 5px;
  font-family: DinPro, sans-serif;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 37px;
}
.catalog .item-6 .accordion h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #191919;
  font-family: CirceRegular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.28px;
  text-transform: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px rgba(9, 9, 9, 0.1) solid;
  border-bottom: 1px rgba(9, 9, 9, 0.1) solid;
  position: relative;
  cursor: pointer;
  padding-left: 8px;
  margin-bottom: 0;
}
.catalog .item-6 .accordion h3:nth-child(1) {
  border-bottom: none;
}
.catalog .item-6 .accordion h3 .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.catalog .item-6 .accordion h3 .icon {
  margin-right: 10px;
}
.catalog .item-6 .accordion .ui-accordion-content {
  color: #191919;
  font-family: CirceRegular;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.catalog .item-6 .accordion .ui-accordion-header-active .arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.catalog .item-6 .sertificates {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog .item-6 .sertificates img {
  position: relative;
  top: 5px;
}
.catalog .item-6 .sertificates p {
  color: #191919;
  font-family: CirceRegular, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
  margin-left: 15px;
}
.catalog .item-6 .sertificates p span {
  border-bottom: 1px #191919 solid;
}

.char-pop {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.char-pop .container {
  position: relative;
}
.char-pop .mfp-close {
  display: none !important;
}
.char-pop .popup-close {
  position: absolute;
  right: -9px;
  top: 24px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.char-pop .popup-close:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: url("../img/close-hover.png");
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
}
.char-pop .popup-close:hover {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.char-pop .popup-close:hover:before {
  opacity: 1;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.char-pop .char-pop-content {
  padding-top: 70px;
  width: 100%;
  max-height: 100vh;
}
.char-pop .char-pop-content .top-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.char-pop .char-pop-content .top-content:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 92%;
  height: 2px;
  background-color: rgba(9, 9, 9, 0.04);
}
.char-pop .char-pop-content .top-content .left-content {
  width: 40.1%;
  position: relative;
  height: 450px;
  height: 520px;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-for
  .slick-slide {
  height: 457px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-for
  .slick-slide
  img {
  width: 100%;
  height: 100%;
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-1 {
  background-image: url("../img/items/black/01.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-2 {
  background-image: url("../img/items/black/02.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-3 {
  background-image: url("../img/items/black/03.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-4 {
  background-image: url("../img/items/black/04.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-5 {
  background-image: url("../img/items/black/05.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-6 {
  background-image: url("../img/items/black/06.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-7 {
  background-image: url("../img/items/black/07.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-8 {
  background-image: url("../img/items/black/08.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-9 {
  background-image: url("../img/items/black/09.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-10 {
  background-image: url("../img/items/black/10.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-11 {
  background-image: url("../img/items/white/01.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-12 {
  background-image: url("../img/items/white/02.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-13 {
  background-image: url("../img/items/white/03.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-14 {
  background-image: url("../img/items/white/04.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-15 {
  background-image: url("../img/items/white/05.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-16 {
  background-image: url("../img/items/white/06.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-17 {
  background-image: url("../img/items/white/07.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-18 {
  background-image: url("../img/items/white/08.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-19 {
  background-image: url("../img/items/white/09.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-20 {
  background-image: url("../img/items/white/10.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-21 {
  background-image: url("../img/items/gray/01.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-22 {
  background-image: url("../img/items/gray/02.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-23 {
  background-image: url("../img/items/gray/03.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-24 {
  background-image: url("../img/items/gray/04.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-25 {
  background-image: url("../img/items/gray/05.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-26 {
  background-image: url("../img/items/gray/06.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-27 {
  background-image: url("../img/items/gray/07.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-28 {
  background-image: url("../img/items/gray/08.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-29 {
  background-image: url("../img/items/gray/09.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-30 {
  background-image: url("../img/items/gray/10.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-31 {
  background-image: url("../img/items/booster/01.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-32 {
  background-image: url("../img/items/booster/02.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-33 {
  background-image: url("../img/items/booster/03.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-34 {
  background-image: url("../img/items/booster/04.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-35 {
  background-image: url("../img/items/booster/05.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-36 {
  background-image: url("../img/items/booster/06.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-37 {
  background-image: url("../img/items/booster/07.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-38 {
  background-image: url("../img/items/booster/08.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-39 {
  background-image: url("../img/items/booster/09.jpg");
}
.char-pop .char-pop-content .top-content .left-content .slider-for .slide-40 {
  background-image: url("../img/items/booster/10.jpg");
}

.char-pop .char-pop-content .top-content .left-content .slider-nav {
  position: absolute;
  bottom: 11px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.char-pop .char-pop-content .top-content .left-content .slider-nav .slick-list {
  width: 100% !important;
  padding: 0 !important;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-nav
  .slick-list
  .slick-track {
  width: 100% !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  transform: translate3d(0px, 0px, 0px) !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-nav
  .slick-slide {
  width: 53px !important;
  /*height: 53px !important;*/
  margin-right: 9px;
  background-color: #b7b7b7;
  display: block;
  cursor: pointer;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-nav
  .slick-slide:last-child {
  margin-right: 0;
}
.char-pop
  .char-pop-content
  .top-content
  .left-content
  .slider-nav
  .slick-slide
  img {
  width: 100%;
  height: 100%;
}
.char-pop .char-pop-content .top-content .right-content {
  margin-left: 35px;
  width: 100%;
}
.char-pop .char-pop-content .top-content .right-content h3 {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.char-pop .char-pop-content .top-content .right-content .price-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}
.char-pop .char-pop-content .top-content .right-content .price {
  margin-top: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}
.char-pop .char-pop-content .top-content .right-content .price .price-text {
  margin-left: 12px;
}
.char-pop .char-pop-content .top-content .right-content .price .main-price {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 24px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: -15px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .price
  .main-price
  span {
  opacity: 0.5;
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.char-pop .char-pop-content .top-content .right-content .price .old-price {
  color: rgba(25, 25, 25, 0.2);
  font-family: DinPro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
  display: inline-block;
  top: -9px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .price
  .old-price:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #191919;
  height: 1px;
}
.char-pop .char-pop-content .top-content .right-content .gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  position: relative;
  top: 5px;
}
.char-pop .char-pop-content .top-content .right-content .gift:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -18px;
  width: 1px;
  height: 33px;
  background-color: #090909;
  opacity: 0.07;
}
.char-pop .char-pop-content .top-content .right-content .gift .list {
  margin-left: 18px;
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
  position: relative;
}
.char-pop .char-pop-content .top-content .right-content .gift .list ul {
  list-style-type: none;
}
.char-pop .char-pop-content .top-content .right-content .gift .list ul li {
  position: relative;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .gift
  .list
  ul
  li:before {
  content: "";
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #090909;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -10px;
}
.char-pop .char-pop-content .top-content .right-content .char-form {
  border-bottom: 2px rgba(9, 9, 9, 0.04) solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  padding-bottom: 40px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-input
  .done-block {
  width: 198px;
  height: 43px;
  line-height: 45px;
  bottom: 0;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-input
  label {
  display: block;
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 11px;
  line-height: 46px;
  letter-spacing: 0.55px;
  text-align: center;
  position: relative;
  top: 8px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-input
  input {
  width: 198px;
  height: 43px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background-image: url("../img/call-answer.png");
  background-repeat: no-repeat;
  background-position: 19px center;
  padding-left: 45px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-button {
  margin-top: 45px;
  margin-left: 25px;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-button
  button {
  width: 133px;
  height: 43px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background-color: #04fbd1;
  cursor: pointer;
  border: none;
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 13px;
  line-height: 40.37px;
  text-transform: uppercase;
  letter-spacing: 1.19px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.char-pop
  .char-pop-content
  .top-content
  .right-content
  .char-form
  .form-button
  button:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: shadow 0.6s infinite linear;
  animation: shadow 0.6s infinite linear;
}
.char-pop .char-pop-content .top-content .right-content .descr {
  margin-top: 25px;
}
.char-pop .char-pop-content .top-content .right-content .descr h4 {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.75px;
  margin-bottom: 18px;
}
.char-pop .char-pop-content .top-content .right-content .descr p {
  max-width: 452px;
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
}
.char-pop .char-pop-content .bottom-content {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.char-pop .char-pop-content .bottom-content .tech-char {
  width: 500px;
  border-right: 1px solid rgba(9, 9, 9, 0.04);
}
.char-pop .char-pop-content .bottom-content .tech-char h4 {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.75px;
  margin-bottom: 35px;
}
.char-pop .char-pop-content .bottom-content .tech-char .tech-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}
.char-pop .char-pop-content .bottom-content .tech-char .tech-item .left {
  color: #191919;
  font-family: CirceRegular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 260px;
}
.char-pop .char-pop-content .bottom-content .tech-char .tech-item .right {
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.char-pop .char-pop-content .bottom-content .prem {
  margin-left: 45px;
}
.char-pop .char-pop-content .bottom-content .prem h4 {
  color: #191919;
  font-family: DinPro, sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.75px;
  margin-bottom: 40px;
}
.char-pop .char-pop-content .bottom-content .prem ul {
  list-style-type: none;
}
.char-pop .char-pop-content .bottom-content .prem ul li {
  max-width: 415px;
  color: #191919;
  font-family: CirceLight, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
  margin-bottom: 20px;
  position: relative;
}
.char-pop .char-pop-content .bottom-content .prem ul li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 6px;
  height: 6px;
  background-color: #090909;
  opacity: 0.2;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

@media (min-width: 1170px) {
  .catalog .item-6 {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 1169px) {
  /*@media (min-width: 577px) and (max-width: 1169px) {*/

  .catalog .container {
    padding: 0;
    width: 100%;
  }
  .catalog {
    display: block;
  }
  /* .catalog .catalog-item {
      width: 49% !important; }
      .catalog .catalog-item:nth-child(2n) {
        margin-right: 0; }
      .catalog .catalog-item:nth-child(3n) {
        margin-right: .4%; }
      .catalog .catalog-item .image img {
        width: 100%;
        height: 334px; }
  .catalog-item .text .gift .image img {
    height: auto; }
  .catalog-item .text h3 {
    font-size: 18px; }
  .catalog-item .text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalog-item .text .right {
    margin-left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 13px !important; }
  .catalog-item .text .right .buy, .catalog-item .text .right .char {
    display: inline-block;
    width: 133px;
    height: 43px;
    margin: 0;
    line-height: 45px;
    font-size: 13px; }*/

  /*.catalog .catalog-item {
      width: 49% !important; }*/
  .catalog .catalog-item:nth-child(2n) {
    margin-right: 0;
  }
  .catalog .catalog-item:nth-child(3n) {
    margin-right: 0.4%;
  }
  .catalog .catalog-item .image img {
    width: 100%;
    /*height: 334px;*/
  }
  .catalog-item .text .gift .image img {
    height: auto;
  }
  .catalog-item .text h3 {
    font-size: 18px;
  }
  .catalog-item .text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .catalog-item .text .right {
    margin-left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 13px !important;
  }
  .catalog-item .text .right .buy,
  .catalog-item .text .right .char {
    display: inline-block;
    width: 133px;
    height: 43px;
    margin: 0;
    line-height: 45px;
    font-size: 13px;
  }
  .char-pop .char-pop-content .top-content .left-content {
    width: 50%;
    height: 400px;
    height: 520px;
  }
  .char-pop .char-pop-content .top-content .right-content {
    margin-left: 10px;
  }
  .char-pop .char-pop-content .bottom-content .tech-char .tech-item .left {
    width: 235px;
  }
  .catalog .item-6 .accordion h3 {
    font-size: 10px;
  }
}

/*@media only screen and (max-width: 576px) {*/
@media only screen and (max-width: 767px) {
  .catalog .container {
    padding: 0;
    max-width: 320px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-1 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-2 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-2 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-4 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-5 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-6 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-7 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-8 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-9 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-10 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-11 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-12 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-13 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-14 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-15 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-16 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-17 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-18 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-19 {
    height: 330px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-20 {
    height: 330px;
  }
  .catalog-item .text .gift {
    margin-left: 18px;
  }
  .catalog-item .text .gift .list {
    font-size: 11px;
  }
  .catalog .item-6 .accordions {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .catalog .item-6 .accordions .accordion {
    width: 100%;
  }
  .char-pop
    .char-pop-content
    .top-content
    .right-content
    .char-form
    .form-input
    .done-block {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .char-pop
    .char-pop-content
    .top-content
    .left-content
    .slider-nav
    .slick-slide {
    width: 37px !important;
    height: 37px !important;
  }
  .char-pop .char-pop-content .top-content {
    padding-top: 200px;
  }
  .char-pop .char-pop-content .top-content .right-content .char-form {
    width: 100%;
    margin: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .char-pop
    .char-pop-content
    .top-content
    .right-content
    .char-form
    .form-input {
    width: 100%;
    text-align: center;
  }
  .char-pop
    .char-pop-content
    .top-content
    .right-content
    .char-form
    .form-button {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 18px;
  }
  .char-pop .char-pop-content .bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .char-pop .char-pop-content .bottom-content .tech-char .tech-item .left {
    width: 214px;
    font-size: 12px;
  }
  .char-pop .char-pop-content .top-content .right-content h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 34px;
  }
  .char-pop .char-pop-content .top-content .right-content .price-gift {
    position: absolute;
    top: 70px;
  }
  .char-pop .char-pop-content .top-content .right-content {
    margin-left: 0;
  }
  .char-pop .char-pop-content {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .char-pop .popup-close {
    z-index: 50;
  }
  .char-pop .char-pop-content .bottom-content .tech-char {
    width: 100%;
  }
  .char-pop .char-pop-content .bottom-content .tech-char .tech-item .right {
    font-size: 12px;
  }
  .char-pop .char-pop-content .bottom-content .prem {
    margin-left: 0;
  }
  .char-pop .char-pop-content .bottom-content .prem ul li {
    padding-left: 15px;
  }
  .char-pop .char-pop-content .bottom-content .prem ul li:before {
    left: 2px;
  }
  .char-pop .char-pop-content .top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .char-pop .char-pop-content .top-content .left-content {
    width: 100%;
    height: 380px;
  }
  .catalog-item .text .price .main-price span {
    font-size: 11px;
  }
  .catalog-item .text .price .main-price {
    font-size: 14px;
  }
  .catalog-item .text .gift:before {
    left: -10px;
  }
  .catalog {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .catalog h2 {
    font-size: 34px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 20px;
  }

  /*  .catalog .catalog-item {
      width: 100% !important;
      margin-bottom: 4%; }
      .catalog .catalog-item:nth-child(2n) {
        margin-right: 0; }
      .catalog .catalog-item:nth-child(3n) {
        margin-right: 0; }
      .catalog .catalog-item .image img {
        width: 100%;
        height: 334px; }
  .catalog-item .text .gift .image img {
    height: auto; }
  .catalog-item .text h3 {
    font-size: 18px; }
  .catalog-item .text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalog-item .text .right {
    margin-left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 13px !important; }
  .catalog-item .text .right .buy, .catalog-item .text .right .char {
    display: inline-block;
    width: 133px;
    height: 43px;
    margin: 0;
    line-height: 45px;
    font-size: 13px; }*/
  .catalog .catalog-item {
    width: 100% !important;
    margin-bottom: 4%;
  }
  .catalog .catalog-item:nth-child(2n) {
    margin-right: 0;
  }
  .catalog .catalog-item:nth-child(3n) {
    margin-right: 0;
  }
  .catalog .catalog-item .image img {
    width: 100%;
    /*height: 334px;*/
  }
  .catalog-item .text .gift .image img {
    height: auto;
  }
  .catalog-item .text h3 {
    font-size: 18px;
  }
  .catalog-item .text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .catalog-item .text .right {
    margin-left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 13px !important;
  }
  .catalog-item .text .right .buy,
  .catalog-item .text .right .char {
    display: inline-block;
    width: 133px;
    height: 43px;
    margin: 0;
    line-height: 45px;
    font-size: 13px;
    margin-left: 7px;
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-1 {
    background-image: url("../img/items_mob/black/01.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-2 {
    background-image: url("../img/items_mob/black/02.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-3 {
    background-image: url("../img/items_mob/black/03.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-4 {
    background-image: url("../img/items_mob/black/04.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-5 {
    background-image: url("../img/items_mob/black/05.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-6 {
    background-image: url("../img/items_mob/black/06.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-7 {
    background-image: url("../img/items_mob/black/07.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-8 {
    background-image: url("../img/items_mob/black/08.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-9 {
    background-image: url("../img/items_mob/black/09.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-10 {
    background-image: url("../img/items_mob/black/10.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-11 {
    background-image: url("../img/items_mob/white/01.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-12 {
    background-image: url("../img/items_mob/white/02.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-13 {
    background-image: url("../img/items_mob/white/03.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-14 {
    background-image: url("../img/items_mob/white/04.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-15 {
    background-image: url("../img/items_mob/white/05.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-16 {
    background-image: url("../img/items_mob/white/06.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-17 {
    background-image: url("../img/items_mob/white/07.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-18 {
    background-image: url("../img/items_mob/white/08.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-19 {
    background-image: url("../img/items_mob/white/09.jpg");
  }
  .char-pop .char-pop-content .top-content .left-content .slider-for .slide-20 {
    background-image: url("../img/items_mob/white/10.jpg");
  }
  .char-pop
    .char-pop-content
    .top-content
    .left-content
    .slider-nav
    .slick-slide {
    height: 100% !important;
  }
}

.popup {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.open-popup {
  cursor: pointer;
}

.why-tabs-section {
  overflow-y: hidden;
}

.header__top-block-middle {
  display: flex;
  color: #fff;
  font-family: CirceLight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
  margin-top: 15px;
  line-height: 15px;
}

.gl-form-socials {
  margin: 50px;
  color: #fff;
  font-family: DinPro, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
}

.gl-form-socials-tg-and-vb {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: DinPro, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-transform: uppercase;
}

.gl-form-socials-tg-and-vb > a {
  align-items: flex-start !important;
}

@media only screen and (max-width: 576px) {
  .header__top-block {
    display: flex;
    justify-content: center;
  }

  .header__top-block-right {
    display: flex;
    justify-content: center;
  }

  .header__bottom-block {
    margin-left: 20px;
  }

  .gl-form-socials {
    margin: 40px 20px;
  }

  .gl-form-socials-tg-and-vb {
    width: 100%;
    justify-content: center;
  }
}
